body {
    font-family: 'Arial', sans-serif;
    margin: 200px;
    padding: 0;
    background-color: #fff;
}

.Container {
    display: flex;
    width: 100%;
    background-color: white;
}
.Foto {
    max-width: 500px;
    margin: 15px auto;
}  
.Judul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 15px auto;
    padding: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

.Judul h2 {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}
.harga {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.tabel {
    overflow: auto;
    width: 100%;
   
}

.tabel table {
    border: 0px solid #dededf;
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
}


.tabel th {
    border: 0px solid #dededf;
    background-color: #eceff1;
    color: #000000;
    padding: 5px;
}

.tabel td {
    border: 0px solid #dededf;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
}
.Deskripsi {
    display: flex;
    width: 100%;
    background-color: white;
    
}

.spec h2 {
    text-align: center;
}
